<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Fourier Incremental</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/math.js" defer></script>
    <script src="/complex.js" defer></script>
    <script src="/script.js" defer></script>
    <style>
    * {
      box-sizing: border-box;
    }

    /* Create four equal columns that floats next to each other */
    .column {
      float: left;
      width: 100;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
     
  </head>
  <body>
    
    <header>
      <h1>Fourier Incremental</h1>
    </header>
    <math>
      f(t) = 0 <span id="C1T" hidden>+ <span id="C1V"></span>e<sup>it&#960</sup> </span><span id="C2T" hidden>+ <span id="C2V"></span>e<sup>2it&#960</sup> </span><span id="C3T" hidden>+ <span id="C3V"></span>e<sup>3it&#960</sup> </span><span id="C4T" hidden>+ <span id="C4V"></span>e<sup>4it&#960</sup> </span><span id="C5T" hidden>+ <span id="C5V"></span>e<sup>5it&#960</sup> </span><span id="C6T" hidden>+ <span id="C6V"></span>e<sup>6it&#960</sup> </span><span id="C7T" hidden>+ <span id="C7V"></span>e<sup>7it&#960</sup> </span><span id="C8T" hidden>+ <span id="C8V"></span>e<sup>8it&#960</sup> </span><span id="C9T" hidden>+ <span id="C9V"></span>e<sup>9it&#960</sup> </span><span id="C10T" hidden>+ <span id="C10V"></span>e<sup>10it&#960</sup> </span>
    </math>
    <p id="MCur"></p>
    <p id="PCur"></p>
    
    
    <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Main')" id="MainTab">Main</button>
    <button class="tablinks" onclick="openCity(event, 'Achievements')">Achievements</button>
    <button class="tablinks" onclick="openCity(event, 'ToDo List')">ToDo List</button>
    <button class="tablinks" onclick="openCity(event, 'Settings')">Settings</button>
    <button class="tablinks" onclick="openCity(event, 'About')">About</button>
    </div>
    <div id="Main" class="tabcontent">
    <canvas id="myCanvas" width="500" height="500"></canvas>
    <script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    ctx.strokeStyle="#000099";
    ctx.moveTo(250, 0);
    ctx.lineTo(250, 500);
    ctx.stroke(); 
    ctx.moveTo(0, 250);
    ctx.lineTo(500, 250);
    ctx.stroke();
    </script>
    <button type="button" onclick="myFunction()">increment</button>
    <button type="button" onclick="ImproveQuality()">Improve quality
      <p id="QC">Cost : 5DP</p></button>
    <button type="button" onclick="ReduceTickspeed()">Increase tick rate by by 10%
      <p id="TC">Cost : 1DP</p></button>
    <div class="row">
      <div class="column" style="background-color:#555;">
        <button type="button" onclick="IncrementCn(0)">increase C1</button>
        <p id="C1">0</p>
        <p id="C1c">Cost : 10 DP</p>
      </div>
      <span class="column" style="background-color:#666;" id="C2Tab" hidden>
        <button type="button" onclick="IncrementCn(1)">increase C2</button>
        <p id="C2">0</p>
        <p id="C2c">Cost : 100 DP</p>
      </span>
      <span class="column" style="background-color:#777;" id="C3Tab" hidden>
        <button type="button" onclick="IncrementCn(2)">increase C3</button>
        <p id="C3">0</p>
        <p id="C3c">Cost : 1000 DP</p>
      </span>
      <span class="column" style="background-color:#888;" id="C4Tab" hidden>
        <button type="button" onclick="IncrementCn(3)">increase C4</button>
        <p id="C4">0</p>
        <p id="C4c">Cost : 10000 DP</p>
      </span>
      <span class="column" style="background-color:#999;" id="C5Tab" hidden>
        <button type="button" onclick="IncrementCn(4)">increase C4</button>
        <p id="C5">0</p>
        <p id="C5c">Cost : 1e5 DP</p>
      </span>
      <span class="column" style="background-color:#aaa;" id="C6Tab" hidden>
        <button type="button" onclick="IncrementCn(5)">increase C4</button>
        <p id="C6">0</p>
        <p id="C6c">Cost : 1e6 DP</p>
      </span>
      <span class="column" style="background-color:#bbb;" id="C7Tab" hidden>
        <button type="button" onclick="IncrementCn(6)">increase C4</button>
        <p id="C7">0</p>
        <p id="C7c">Cost : 1e7 DP</p>
      </span>
      <span class="column" style="background-color:#ccc;" id="C8Tab" hidden>
        <button type="button" onclick="IncrementCn(7)">increase C4</button>
        <p id="C8">0</p>
        <p id="C8c">Cost : 1e8 DP</p>
      </span>
      <span class="column" style="background-color:#ddd;" id="C9Tab" hidden>
        <button type="button" onclick="IncrementCn(8)">increase C4</button>
        <p id="C9">0</p>
        <p id="C9c">Cost : 1e9 DP</p>
      </span>
      <span class="column" style="background-color:#eee;" id="C10Tab" hidden>
        <button type="button" onclick="IncrementCn(9)">increase C4</button>
        <p id="C10">0</p>
        <p id="C10c">Cost : 1e10 DP</p>
      </span>
    </div> 
    </div>

    <div id="Achievements" class="tabcontent">
      <h3>Achievements</h3>
      <p>Achievements can unlock features and will multiply your DP production by 1.01.</p>
      <p >Current multiplier : <span id="ACH">1</span></p>
      <p>Achievements are currently being worked on!</p>
      <table>
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
        <td class="tooltip" style="background-color:#D55;" height="100" id="A1C1">
          <span class="tooltiptext">Have 1 C1</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C2" class="tooltip">
          <span class="tooltiptext">Have 1 C2</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C3" class="tooltip">
          <span class="tooltiptext">Have 1 C3</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C4" class="tooltip">
          <span class="tooltiptext">Have 1 C4</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C5" class="tooltip">
          <span class="tooltiptext">Have 1 C5</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C6" class="tooltip">
          <span class="tooltiptext">Have 1 C6</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C7" class="tooltip">
          <span class="tooltiptext">Have 1 C7</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C8" class="tooltip">
          <span class="tooltiptext">Have 1 C8</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C9" class="tooltip">
          <span class="tooltiptext">Have 1 C9</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A1C10" class="tooltip">
          <span class="tooltiptext">Have 1 C10</span>
        </td>
        </tr>
        <tr>
        <td class="tooltip" style="background-color:#D55;" height="100" id="A2C1">
          <span class="tooltiptext">Have 10 C1</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C2" class="tooltip">
          <span class="tooltiptext">Have 10 C2</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C3" class="tooltip">
          <span class="tooltiptext">Have 10 C3</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C4" class="tooltip">
          <span class="tooltiptext">Have 10 C4</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C5" class="tooltip">
          <span class="tooltiptext">Have 10 C5</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C6" class="tooltip">
          <span class="tooltiptext">Have 10 C6</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C7" class="tooltip">
          <span class="tooltiptext">Have 10 C7</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C8" class="tooltip">
          <span class="tooltiptext">Have 10 C8</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C9" class="tooltip">
          <span class="tooltiptext">Have 10 C9</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A2C10" class="tooltip">
          <span class="tooltiptext">Have 10 C10</span>
        </td>
        </tr>
        <tr>
        <td class="tooltip" style="background-color:#D55;" height="100" id="A3C1">
          <span class="tooltiptext">Have 25 C1</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C2" class="tooltip">
          <span class="tooltiptext">Have 25 C2</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C3" class="tooltip">
          <span class="tooltiptext">Have 25 C3</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C4" class="tooltip">
          <span class="tooltiptext">Have 25 C4</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C5" class="tooltip">
          <span class="tooltiptext">Have 25 C5</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C6" class="tooltip">
          <span class="tooltiptext">Have 25 C6</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C7" class="tooltip">
          <span class="tooltiptext">Have 25 C7</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C8" class="tooltip">
          <span class="tooltiptext">Have 25 C8</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C9" class="tooltip">
          <span class="tooltiptext">Have 25 C9</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A3C10" class="tooltip">
          <span class="tooltiptext">Have 25 C10</span>
        </td>
        </tr>
        <tr>
        <td class="tooltip" style="background-color:#D55;" height="100" id="A4C1">
          <span class="tooltiptext">Have 100 C1</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C2" class="tooltip">
          <span class="tooltiptext">Have 100 C2</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C3" class="tooltip">
          <span class="tooltiptext">Have 100 C3</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C4" class="tooltip">
          <span class="tooltiptext">Have 100 C4</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C5" class="tooltip">
          <span class="tooltiptext">Have 100 C5</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C6" class="tooltip">
          <span class="tooltiptext">Have 100 C6</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C7" class="tooltip">
          <span class="tooltiptext">Have 100 C7</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C8" class="tooltip">
          <span class="tooltiptext">Have 100 C8</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C9" class="tooltip">
          <span class="tooltiptext">Have 100 C9</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A4C10" class="tooltip">
          <span class="tooltiptext">Have 100 C10</span>
        </td>
        </tr>
        <tr>
        <td style="background-color:#D55;" height="100" id="A5C1" class="tooltip">
          <span class="tooltiptext">Lemniscate! (not implemented yet!)</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A5C2" class="tooltip">
          <span class="tooltiptext">BREAD (not implemented yet!)</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A5C3" class="tooltip">
          <span class="tooltiptext">BAGUETTE! (not implemented yet!)</span>
        </td>
        <td style="background-color:#D55;" height="100" id="A5C4" class="tooltip">
          <span class="tooltiptext">Square 1 (not implemented yet!)</span>
        </td>
        </tr>
      </table> 
    </div>
    <div id="ToDo List" class="tabcontent">
      <p>1-Balance stuff while doing 2- and 3-</p>
      <p>2-Add even more achievements</p>
      <p>3-Add prestige</p>
    </div>
    <div id="Settings" class="tabcontent">
      <button type="button" onclick="save()" class="tooltip">Save
      <span class="tooltiptext">Need autosaving 0/5</span></button>
      <button type="button" onclick="SReset()" class="tooltip">Soft Reset
      <span class="tooltiptext">Resets everything except the achievements (and what they unlock)</span></button>
      <button type="button" onclick="HReset()" class="tooltip">Hard Reset
      <span class="tooltiptext">Resets everything, even the achievements</span></button>
    </div>
    <div id="About" class="tabcontent">
      <p>This whole game is about the Fourier series (not the transform!) and this tab will explain to you what all this is about.</p>
      <p>Fourier found that for any 2D shape that is continuous (you can draw it without having to lift the pen once) and have the starting point and the end point that are the same (you can say that it cycles), there was a complex function that can draw it for t between 0 and 1 :</p>
      <p><img src="https://latex.codecogs.com/svg.latex?f(t)=\sum_{n\in%20\mathbb{Z}}(C_n%20e^{nit\pi+i\phi_n})" border="0"/> Where <img src="https://latex.codecogs.com/svg.latex?(C_n)_{n\in\mathbb{Z}}" border="0"/> is a list of positive reals (take it as a list of radius) and <img src="https://latex.codecogs.com/svg.latex?(\phi_n)_{n\in\mathbb{Z}}" border="0"/> is a list of angles in radians</p>
      <p>Here is a link to the video from <a href="https://www.youtube.com/watch?v=r6sGWTCMz2k">3Blue1Brown</a> to show you how powerful this tool is (and explain it better than i do)</p>
    </div>
    <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("MainTab").click();
    </script>
    
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>